<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.edumedia.zhou0101" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<preference name="SplashScreen" value="screen" />
	<preference name="SplashScreenDelay" value="1500" />
    <preference name="DisallowOverscroll" value="true" />
     <preference name="Orientation" value="landscape" />
    <name>cell</name>
    <description>
       Midterm-mad9022-Roll-Roulette-Gino
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Hanxuan Zhou (Gino)
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
